<?xml version="1.0"?>
<!--
  This file contains the global settings made available to generators in local development mode (local).
-->
<global>

  <!--
    Berlioz configuration options:
    - errors.handle          Whether Berlioz should handle errors or simply let the Web container do it [true]
    - errors.generator-catch Whether errors occurring in generator should be handled then or bubble up [true]
    - http.compression       Whether Berlioz should use HTTP compression [true].
    - http.get-via-post      Whether Berlioz should accept POST requests to a GET service [true]
    - http.max-age           The default max age in seconds for Berlioz responses (overridden by individual services) [60]
    - xslt.cache             Whether to cache the XSLT, use true for production; but false for development [true]
  -->
  <berlioz>
    <errors handle="true" generator-catch="false"/>
    <xml parse-strict="true" header.version="1.0"/>
    <xslt cache="false"/>
    <!-- Application version and date -->
    <app version="@APP_VERSION@" date="@APP_DATE@" title="Webhook Client Example"/>
    
  </berlioz>

</global>
